.sidebar {
  &-logo {
    color: #1da1f2;
    font-size: 32px;
  }
  a {
    font-size: 20px;
    width: fit-content;
    text-decoration: none;
    color: #000;
    transition: all linear 0.15s;
    &:hover {
      background-color: $gray-200;
    }
  }
}
